/* style.css */

body {
    background-color: #ffffff; /* Cor de fundo escura */
    color: #121212;            /* Texto branco */
    font-family: 'Roboto', sans-serif; /* Fonte moderna */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; /* Adiciona espaçamento ao redor do cabeçalho */
}

header img {
    width: 500px; /* Largura da imagem do cabeçalho */
    height: auto;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 20px;
    color: #3de7f2; /* Cor verde neon */
}

section {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(61, 231, 242);; /* Sombra neon verde */
}

h2 {
    color: #3de7f2; /* Cor verde neon */
    text-shadow: 0 0 5px #3de7f2; /* Sombra de texto neon */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #3de7f2;
    color: #000;
    position: fixed;
    width: 100%;
    bottom: 0;
}

ul {
    list-style-type: square;
}

ul li {
    margin: 10px 0;
}

a {
    color: #3de7f2; /* Links em verde neon */
}

a:hover {
    color: #ffffff; /* Links mudam para branco ao passar o mouse */
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    section {
        margin: 10px;
        padding: 15px;
    }
}
